.authentication {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: white;
  background-image: url("./landscape.png");
  background-size: cover;
}


.link-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50%;
  margin-top: 1em;

}

.container-data {
 margin: 0em 0em 5em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: auto;
  box-sizing: border-box;
  background-color: #3b077a34;
  backdrop-filter: blur(6px);
  
}

.form-container {
margin-top: -1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 20vw;
  height: 5vh;
  border-style: none;
  background-color: #f2f2f2;
  border-radius: 5rem;
}

label {
  margin-top: 1em;
}

.btn-submit {
  background-color: #3a077a;
  color: #f2f2f2;
  padding: 0.5rem;
  width: 20vw;
  border-radius: 5rem;
  margin: 0.2rem;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2em;
}

.login{
  color:#3a077a;
  text-decoration: none;
  background-color:white;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 1em;
  font-size: 16px;
  margin-bottom: 1em;

}

h3{
  font-size: 16px;
}
.goBackBtn{
  font-size: 16px;
}