
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("./aim.png"), pointer;
}

.task-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startBtn{
    text-decoration: none;
    padding: 0.5em 4em 0.5em 4em;
    font-size: 22px;
    background-color: #d48ce6;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    border-style: none;
    border-radius: 1em;
    margin: -3em 1em 0em 1em;
}

.task{
    margin: 5em 10em 5em 10em;
    padding: 2em;
    background-color: #3b077a34 ;
    backdrop-filter: blur(6px);
  }