/* .container-level1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.pictureLevel1{
    width: 50vw;
    height: 40vh;
    background-image: url("./level1-email.png");
    background-size: cover;
} */